<!-- Footer-->
<footer class="bg-bottom text-center py-3">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div id="copyright-text" class="mb-2">&copy; Akakawing 2023-2024. All Rights Reserved.</div>
            <a id="github-link" href="https://github.com/akakawing">Github</a>
            <span class="mx-1">&middot;</span>
            <a id="license-link" href="https://github.com/akakawing/akakawing.github.io/blob/main/LICENSE">License</a>
        </div>
    </div>
</footer>