<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="keywords" content="homepage of Shen Chenyu">
    <meta name="author" content="Shen Chenyu">
    <meta name="description" content="shenchenyu's homepage">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <title>沈晨昱的个人主页</title>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Core theme CSS-->
    <link type="text/css" href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="/assets/css/main.css" rel="stylesheet" />

    <!-- Bootstrap core JS-->
    <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Core JS-->
    <script type="text/javascript" src="/assets/js/scripts.js"></script>
</head>