---
layout: default
---

<!-- Top Section -->
<!-- <section class="top-section" style="background-image: url('assets/images/background.png');">
    <div class="top-section-content">
        <div class="container px-5">
            <h2 class="text-white display-5 lh-5 font-alt">Welcome to Shen Chenyu's homepage!</h2>
        </div>
    </div>
</section> -->
<!-- Top Section -->

<!-- Photo -->
<div class="container px-5">
    
</div>
<!-- Photo -->

<!-- Home -->
<section class="bg-gradient-primary-to-secondary-light mt5 md5 content" id="home">
    <div class="container px-5 main-body">
        <div id="avatar">
            <img class="shadow" src="assets/images/profile.jpg" >
        </div>

        <h1 id="home-subtitle"> 
            Chenyu Shen&ensp;|&ensp;沈晨昱 
        </h1>
        
        <ul>   
            <li>
                沈晨昱, 男, 汉族, 2001年2月生, 浙江桐乡人. 本科毕业于中国科学技术大学少年班学院, 2022年9月起至今为中国科学技术大学近代力学系的硕士研究生, 2025年秋季即将前往美国宾夕法尼亚州立大学攻读博士学位. 本人对学术研究充满热情, 喜欢钻研理论, 喜欢探索新的问题并分享自己的研究成果. 本人兴趣广泛, 特别在计算机的各个硬件软件方向均有涉猎, 欢迎你通过邮件的形式与我联系交流!

            </li>
            <li>
                我的研究方向是人工设计结构的力学行为,目前集中研究二维点阵超材料的弯曲变形, 详情见<a href="{{ site.baseurl }}/research/">学术研究</a>
            </li>
        </ul>
        <h2>联系方式</h2>
        <ul>
            Email:
            <li>
                shenchenyu@mail.ustc.edu.cn
            </li>
            <li>
                cqs6300@psu.edu
            </li>
        </ul>
    </div>

</section>



<!-- Home -->