---
layout: default
---

<!-- Top Section -->
<section class="top-section" style="background-image: url('assets/images/background.png');">
    <div class="top-section-content">
        <div class="container px-5">
            <h2 class="text-white display-5 lh-5 font-alt">Welcome to Shen C.Y.'s homepage!</h2>
        </div>
    </div>
</section>
<!-- Top Section -->

<!-- Photo -->
<div class="container px-5">
    <div id="avatar">
        <img class="shadow" src="assets/images/profile.jpg">
    </div>
</div>
<!-- Photo -->

<!-- Home -->
<section class="bg-gradient-primary-to-secondary-light mt5 md5" id="home">
    <div class="container px-5">
        <header>
            <h2 id="home-subtitle"> Chenyu Shen&ensp;|&ensp;沈晨昱</h2>
            <!-- <span class="bi bi-list"></span> -->
        </header>
        <br />
        <div class="main-body">
            <h2>基本信息</h2>
            <ul>   
                <li><p>沈晨昱，男，汉族，2001年2月生，浙江桐乡人。目前是中国科学技术大学近代力学系的硕士研究生，导师是<a href="https://dsxt.ustc.edu.cn/zj_js.asp?zzid=323">何陵辉教授</a>。</p></li>
                <li><p>2018年高中毕业于桐乡市高级中学， 2022年本科毕业于中国科学技术大学数学学院信息与计算科学专业，获得理学学士学位。</p></li>
                <li><p>我的研究方向是材料与结构的力学行为研究，目前集中研究二维点阵超材料的微极理论模型，详情见<a href="{{ site.baseurl }}/research/">学术研究</a></span></p></li>
            </ul>
            <h2>联系方式</h2>
            <ul>
                <li>
                    <p>Email: shenchenyu@mail.ustc.edu.cn</p>
                    <p>&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 1025281520@qq.com</p>
                </li>
                <li>
                    QQ: 1025281520
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Home -->